.issue {
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__delete {
		cursor: pointer;
	}
	&__breadcrumbs {
		display: flex;
		align-items: self-end;
	}
	&__project-id {
		font-size: 14px;
		color: #505f79;
		line-height: 24px;
		margin-left: 5px;
	}
	&__type {
		align-self: flex-end;
	}
	&__content {
		margin-top: 16px;
	}
	&__title {
		font-size: 1.71429em;
		line-height: 1.16667;
		font-weight: 500;
		letter-spacing: -0.01em;
		width: 100%;
		margin: 0px;
		color: rgb(23, 43, 77);
	}
	&__description-label {
		font-size: 1em;
		font-style: inherit;
		font-weight: 600;
		letter-spacing: -0.003em;
		margin: 16px 0 8px;
		line-height: 24px;
		color: rgb(23, 43, 77);
		overflow-wrap: break-word;
	}
	&__description {
		font-size: 1em;
		line-height: 1.714;
		font-weight: 400;
		letter-spacing: -0.005em;
		color: rgb(23, 43, 77);
		overflow-wrap: break-word;
		white-space: pre-wrap;
	}
}
